
body{
    font-family: Arial, Helvetica, sans-serif;
    background:#151515; 
    color:#ffffff; 
    padding: 30px
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    overflow-x: auto;
}

.backlog_link a {
    color: #ffffff;
    text-decoration: none;
}

.backlog_link a:hover {

    background: linear-gradient(90deg, #dfbb68, #b28f4a);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: 0.5s ease;
}

h1{
    font-size: 40px;
    margin-bottom: 20px

}

h3{
    opacity: 0.55;
}

button{
    padding: 8px 10px;
    border-radius: 8px;
    cursor: pointer;
}

input[type=text], select{
    padding: 6px 8px;
    border-radius: 6px;
    border: 1px solid transparent;
}

table{
    width: 100%;
    table-layout: auto; 
    border: 1px solid rgba(255,255,255,0.18);
    border-collapse:collapse;
    background:rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    border-radius: 12px;
    overflow: hidden;
}

thead th{
    padding: 10px 12px;
    background: linear-gradient(90deg, rgba(255,255,255,.02), transparent);
    font-size: 13px;
    cursor: pointer;
    text-align: center;
    border-bottom: 2px solid rgba(255,255,255,0.15);
}

tbody td{
    padding: 10px 12px;
    border-top: 1px solid rgba(255, 255, 255, 0.12);
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    transition: 0.3s ease;
}

tbody tr:hover td{
    background:rgba(255,255,255,0.12);
    
}

td input[type="text"],
td select {
    width: 100%;
    box-sizing: border-box;
}

.status-badge{
    display: inline-block;
    padding: 6px 10px;
    border-radius: 999px;
    font-size: 12px;
}

.status-menu {
    position: absolute;
    background: #1e1e1e;
    border-radius:  10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    min-width: 150px;
    padding: 6px 0;
    box-shadow: 0 4px 15px rgba(0,0,0,0.4);
    z-index: 9999;
}

.status-item {
    padding: 10px 16px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    white-space: nowrap;
    transition: background-color 0.2 ease;
}

.status-item:hover {
    background: rgba(255,255,255,0.12);
}

.status-badge-clickable{
    cursor: pointer;
    transition: 0.15s ease;
}

.status-badge-clickable:hover{
    transform: scale(1.03);
}

.status-playing{background:#d1fae5;color:#065f46}
.status-onhold{background:#fff7ed;color:#92400e}
.status-ongoing{background:#f3e8ff;color:#5b21b6}
.status-notstarted{background:#fee2e2;color:#991b1b}
.status-finished{background:#dbf4ff;color:#0b5566}

.controls{
    display: flex;
    gap: 6px;
    align-items: center;
}

.search{
    padding: 6px 8px;
    border-radius: 6px;
    border: 1px solid rgba(255,255,255,.05);
    min-width: 180px
}
